body {
  </style>
  <head>
   <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="https://www.freeiconspng.com/img/46498">
    <title> LILY PAGE </title>
   </head>
    
  <body>
    <h2> Lily's Website </h2>
    
   <center>
   <img src= "https://images.vexels.com/media/users/3/240369/isolated/preview/e1c0844fe16d7b1f474b6ae147bb614b-pink-lily-flower-flat.png">
    
nav {
  list-style-type:none;
  background-color: #97ADFF;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 8px;
  color: black; 
  text-align: center; 
}
li {
  display: inline; 
  padding: 18px; 
  
}
li:hover {
  background-color: #5465FF;
}

a {
  text-decoration: none; 
  color: black;
}

